body {
  background-color: rgb(80, 79, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow:hidden;
}

#button {
  width: 100px;
  height: 60px;
  margin-top: 9px;
  margin-left: 4px;
  border-radius: 20px;
  border: none;
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s;
}

.display {
  position: relative;
  top: 12px;
  width: 420px;
  margin-left: 4px;
  outline: none;
  height: 60px;
  border-radius: 15px;
  border: none;
  font-size: 30px;
  padding-left: 20px;
  box-sizing: border-box;
  transition: all 0.3s;
}

@media screen and (max-width: 478px) {
  #button {
    width: 90px;
    height: 60px;
  }
  .display {
    width: 380px;
  }
}

@media screen and (max-width: 408px) {
  #button {
    width: 80px;
    height: 60px;
  }
  .display {
    width: 345px;
  }
}

@media screen and (max-width: 368px) {
  #button {
    width: 70px;
    height: 60px;
  }
  .display {
    width: 300px;
  }
}

@media screen and (max-width: 315px) {
  #button {
    width: 60px;
    height: 55px;
  }
  .display {
    width: 265px;
  }
}
